#blog-wrapper .alignright {
	float: right;
	margin: 0 0 5px 5px;
}

#blog-wrapper .alignleft {
	float: left;
	margin: 0 5px 5px 0;
}

#blog-wrapper .blog-post {
	border-bottom: 1px solid #DDD;
}

#blog-wrapper .blog-post-meta {
	padding: 0 0 10px;
	font-size: 0.85em;
	font-style: italic;
}

#blog-wrapper .blog-post-img {
	float: right;
	margin: 0 0 5px 5px;
}

#blog-wrapper .blog-post-info {
	padding: 15px 0 0;
	font-size: 0.85em;
}

#blog-wrapper .blog-post-social {
	overflow: hidden;
	padding: 10px 0 0;
	min-height: 95px;
}

#blog-wrapper .blog-post-social .social-button {
	display: block;
	float: left;
	margin: 0 10px 0 0;
}

#blog-wrapper .blog-post-readmore {
	margin: -30px 0 0;
	padding: 0 0 10px;
	text-align: right;
}

#blog-wrapper .archive-list .blog-post-readmore {
	margin: 8px 0 0;
}

#blog-body .pagination {
	margin: 10px 0 0;
}
#blog-body .pagination-sm {
	margin: 0;
}


/* SIDEBAR MODULES */
.blog-sidebar.resent-posts-list ul,
.blog-sidebar.categories-list ul {
	padding: 0;
	margin: 0;
}

.blog-sidebar.resent-posts-list li,
.blog-sidebar.categories-list li {
	display: block;
}