/**
 * @copyright	Copyright (C) 2014 Angle180 LLC. All rights reserved.
 * @license		Commercial Template. Do not use without written permission on Angle180 LLC.
 */

@media (min-width:1025px) {
    .clk-phone {
        pointer-events: none;
        cursor: default;
    }
}

.block {
    width: 100%;
    height: auto;
    overflow: hidden;
}
.nopadding {
	padding: 0;
}
.nomargin {
	margin: 0;
}
.clear {
	clear:both;
}
.fleft {
	float:left;
}
.fright {
	float:right;
}
.fnone {
	float:none;
}
.underline {
    text-decoration:underline;
}
.uppercase {
    text-transform:uppercase;
}
.capitalize {
    text-transform:capitalize;
}
.lowercase {
    text-transform:lowercase;
}
.nodecoration {
    text-decoration:none;
}
.novisibility {
    visibility: hidden;
}
.visible {
    visibility: visible;
}
.nodisplay {
    display: none;
}
.blockdisplay {
    display: block;
}

.hey-video-container {
	position: relative;
}

.hey-video-container:before {
	content: "";
	display: block;
	padding: 0 0 56.25% 0;
}

.hey-video-container.ar1-1:before {
	padding: 0 0 100% 0;
}

.hey-video-container.ar4-3:before {
	padding: 0 0 75% 0;
}

.hey-video-container iframe {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	border: none;
}
