.mobile-activated{
  position: fixed;
  max-width: 100vw;
}

.scroll-to-top {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 15px;
    left: 15px;
    color: #fff;
    text-align: center;
    line-height: 50px;
    font-size: 16px;
    background: #ff6900;
    cursor: pointer;
    opacity: 0;
    z-index: 9;
    @include transition(opacity 1s ease-out);

    &.is-active{
	    opacity: 1;
	     @include transition(opacity 1s ease-in);
    }

    @include mq_767(){
    	.scroll-to-top {
		    width: 30px;
		    height: 30px;
		    line-height: 30px;
		}
    }
}
