@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,700");

@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400i,700i");

@font-face {
	font-family: 'fontello';
	src: url('../fonts/fontello.eot?84799428');
	src: url('../fonts/fontello.eot?84799428#iefix') format('embedded-opentype'),
	/*url('../fonts/fontello.woff2?84799428') format('woff2'),*/
	url('../fonts/fontello.woff?84799428') format('woff'),
	url('../fonts/fontello.ttf?84799428') format('truetype'),
	url('../fonts/fontello.svg?84799428#fontello') format('svg');
	font-weight: normal;
	font-style: normal;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
	font-family: "fontello";
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	margin-right: .2em;
	text-align: center;
	/* opacity: .8; */
	/* For safety - reset parent styles, that can break glyph codes*/
	font-variant: normal;
	text-transform: none;
	/* fix buttons height, for twitter bootstrap */
	line-height: 1em;
	/* Animation center compensation - margins should be symmetric */
	/* remove if not needed */
	margin-left: .2em;
	/* you can be more comfortable with increased icons size */
	/* font-size: 120%; */
	/* Font smoothing. That was taken from TWBS */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	/* Uncomment for 3D effect */
	/* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
.icon-fb:before { content: '\e800'; }
.icon-location:before { content: '\e801'; }
.icon-mail:before { content: '\e802'; }
.icon-phone:before { content: '\e803'; }
.icon-direction:before { content: '\e804'; }
.icon-caret-down:before { content: '\e805'; }
.icon-close-icon:before { content: '\e806'; }
.icon-direction-1:before { content: '\e807'; }
.icon-fb-1:before { content: '\e808'; }
.icon-female:before { content: '\e809'; }
.icon-filter:before { content: '\e80a'; }
.icon-link-arrow:before { content: '\e80b'; }
.icon-location-1:before { content: '\e80c'; }
.icon-mail-1:before { content: '\e80d'; }
.icon-male:before { content: '\e80e'; }
.icon-phone-1:before { content: '\e80f'; }
.icon-previous-news:before { content: '\e810'; }
.icon-arrow-left:before { content: '\e811'; }
.icon-arrow-right:before { content: '\e812'; }
.icon-back-to-top:before { content: '\e813'; }
.icon-male-round:before { content: '\e814'; }
.icon-female-round:before { content: '\e815'; }
.icon-newsletter:before { content: '\e900'; }
