@charset "UTF-8";

@font-face {
  font-family: "hicon-font";
  src:url("../fonts/hey-icons.eot");
  src:url("../fonts/hey-icons.eot?#iefix") format("embedded-opentype"),
    url("../fonts/hey-icons.woff") format("woff"),
    url("../fonts/hey-icons.ttf") format("truetype"),
    url("../fonts/hey-icons.svg#icons-font") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "hicon-font" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="hicon-"]:before,
[class*=" hicon-"]:before {
  font-family: "hicon-font" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hicon-24:before {
  content: "\61";
}
.hicon-24-phone:before {
  content: "\62";
}
.hicon-alarm:before {
  content: "\63";
}
.hicon-android:before {
  content: "\64";
}
.hicon-apple:before {
  content: "\65";
}
.hicon-arrow:before {
  content: "\66";
}
.hicon-arrow-3:before {
  content: "\67";
}
.hicon-arrow-2:before {
  content: "\68";
}
.hicon-arrow-4:before {
  content: "\69";
}
.hicon-arrow-5:before {
  content: "\6a";
}
.hicon-arrow-6:before {
  content: "\6b";
}
.hicon-attached:before {
  content: "\6c";
}
.hicon-battery:before {
  content: "\6d";
}
.hicon-car:before {
  content: "\6e";
}
.hicon-calendar-2:before {
  content: "\6f";
}
.hicon-calendar:before {
  content: "\70";
}
.hicon-bookmark-2:before {
  content: "\71";
}
.hicon-bookmark-3:before {
  content: "\72";
}
.hicon-bookmark:before {
  content: "\73";
}
.hicon-book-3:before {
  content: "\74";
}
.hicon-book-2:before {
  content: "\75";
}
.hicon-book:before {
  content: "\76";
}
.hicon-bluetooth-2:before {
  content: "\77";
}
.hicon-bluetooth:before {
  content: "\78";
}
.hicon-behance:before {
  content: "\79";
}
.hicon-battery-2:before {
  content: "\7a";
}
.hicon-car-2:before {
  content: "\41";
}
.hicon-car-3:before {
  content: "\42";
}
.hicon-cards:before {
  content: "\43";
}
.hicon-chat:before {
  content: "\44";
}
.hicon-chat-2:before {
  content: "\45";
}
.hicon-chat-4:before {
  content: "\46";
}
.hicon-check:before {
  content: "\47";
}
.hicon-chat-3:before {
  content: "\48";
}
.hicon-check-2:before {
  content: "\49";
}
.hicon-check-3:before {
  content: "\4a";
}
.hicon-check-4:before {
  content: "\4b";
}
.hicon-clock:before {
  content: "\4c";
}
.hicon-clock-2:before {
  content: "\4d";
}
.hicon-dropbox:before {
  content: "\4e";
}
.hicon-dribbble:before {
  content: "\4f";
}
.hicon-download-3:before {
  content: "\50";
}
.hicon-download-2:before {
  content: "\51";
}
.hicon-document-4:before {
  content: "\52";
}
.hicon-document-3:before {
  content: "\53";
}
.hicon-document-2:before {
  content: "\54";
}
.hicon-dislike:before {
  content: "\55";
}
.hicon-clock-4:before {
  content: "\56";
}
.hicon-clock-3:before {
  content: "\57";
}
.hicon-earth:before {
  content: "\58";
}
.hicon-earth2:before {
  content: "\59";
}
.hicon-email:before {
  content: "\5a";
}
.hicon-erase:before {
  content: "\30";
}
.hicon-email-2:before {
  content: "\31";
}
.hicon-delivery:before {
  content: "\32";
}
.hicon-erase-2:before {
  content: "\33";
}
.hicon-download:before {
  content: "\34";
}
.hicon-exit:before {
  content: "\35";
}
.hicon-exit-2:before {
  content: "\36";
}
.hicon-exclamation-mark:before {
  content: "\37";
}
.hicon-document:before {
  content: "\38";
}
.hicon-exit-3:before {
  content: "\39";
}
.hicon-facebook:before {
  content: "\21";
}
.hicon-eye:before {
  content: "\22";
}
.hicon-fax:before {
  content: "\23";
}
.hicon-folder:before {
  content: "\24";
}
.hicon-global:before {
  content: "\25";
}
.hicon-google-plus:before {
  content: "\26";
}
.hicon-group:before {
  content: "\27";
}
.hicon-handshake:before {
  content: "\28";
}
.hicon-handshake-2:before {
  content: "\29";
}
.hicon-health:before {
  content: "\2a";
}
.hicon-house:before {
  content: "\2b";
}
.hicon-house-2:before {
  content: "\2c";
}
.hicon-house-3:before {
  content: "\2d";
}
.hicon-idea:before {
  content: "\2e";
}
.hicon-location:before {
  content: "\2f";
}
.hicon-idea-2:before {
  content: "\3a";
}
.hicon-house-4:before {
  content: "\3b";
}
.hicon-info:before {
  content: "\3c";
}
.hicon-info-2:before {
  content: "\3d";
}
.hicon-instagram:before {
  content: "\3e";
}
.hicon-internet:before {
  content: "\3f";
}
.hicon-internet-2:before {
  content: "\40";
}
.hicon-key:before {
  content: "\5b";
}
.hicon-key-2:before {
  content: "\5d";
}
.hicon-like:before {
  content: "\5e";
}
.hicon-linkedin:before {
  content: "\5f";
}
.hicon-list:before {
  content: "\60";
}
.hicon-list-2:before {
  content: "\7b";
}
.hicon-loading:before {
  content: "\7c";
}
.hicon-minus:before {
  content: "\7d";
}
.hicon-menu:before {
  content: "\7e";
}
.hicon-map:before {
  content: "\5c";
}
.hicon-man-symbol:before {
  content: "\e000";
}
.hicon-man-2:before {
  content: "\e001";
}
.hicon-man:before {
  content: "\e002";
}
.hicon-magnifying-glass-3:before {
  content: "\e003";
}
.hicon-magnifying-glass-2:before {
  content: "\e004";
}
.hicon-magnifying-glass:before {
  content: "\e005";
}
.hicon-love-2:before {
  content: "\e006";
}
.hicon-love:before {
  content: "\e007";
}
.hicon-location2:before {
  content: "\e008";
}
.hicon-money:before {
  content: "\e009";
}
.hicon-move:before {
  content: "\e00a";
}
.hicon-music:before {
  content: "\e00b";
}
.hicon-navigation:before {
  content: "\e00c";
}
.hicon-navigation-2:before {
  content: "\e00d";
}
.hicon-navigation-3:before {
  content: "\e00e";
}
.hicon-network:before {
  content: "\e00f";
}
.hicon-network-2:before {
  content: "\e010";
}
.hicon-mobile:before {
  content: "\e011";
}
.hicon-pdf-2:before {
  content: "\e012";
}
.hicon-pdf:before {
  content: "\e013";
}
.hicon-paper:before {
  content: "\e014";
}
.hicon-options-2:before {
  content: "\e015";
}
.hicon-options:before {
  content: "\e016";
}
.hicon-pencil:before {
  content: "\e017";
}
.hicon-percent:before {
  content: "\e018";
}
.hicon-pencil-2:before {
  content: "\e019";
}
.hicon-phone-2:before {
  content: "\e01a";
}
.hicon-phone-calling:before {
  content: "\e01b";
}
.hicon-picture:before {
  content: "\e01c";
}
.hicon-picture-2:before {
  content: "\e01d";
}
.hicon-picture-3:before {
  content: "\e01e";
}
.hicon-pinterest:before {
  content: "\e01f";
}
.hicon-plane:before {
  content: "\e020";
}
.hicon-plus:before {
  content: "\e021";
}
.hicon-portfolio:before {
  content: "\e022";
}
.hicon-portfolio-2:before {
  content: "\e023";
}
.hicon-refresh-2:before {
  content: "\e024";
}
.hicon-refresh:before {
  content: "\e025";
}
.hicon-recycling:before {
  content: "\e026";
}
.hicon-quotes:before {
  content: "\e027";
}
.hicon-question:before {
  content: "\e028";
}
.hicon-protection-2:before {
  content: "\e029";
}
.hicon-protection:before {
  content: "\e02a";
}
.hicon-prize-2:before {
  content: "\e02b";
}
.hicon-prize:before {
  content: "\e02c";
}
.hicon-printer-2:before {
  content: "\e02d";
}
.hicon-printer:before {
  content: "\e02e";
}
.hicon-power-2:before {
  content: "\e02f";
}
.hicon-power:before {
  content: "\e030";
}
.hicon-refresh-3:before {
  content: "\e031";
}
.hicon-resize:before {
  content: "\e032";
}
.hicon-responsive:before {
  content: "\e033";
}
.hicon-repair:before {
  content: "\e034";
}
.hicon-rss:before {
  content: "\e035";
}
.hicon-security:before {
  content: "\e036";
}
.hicon-security-2:before {
  content: "\e037";
}
.hicon-settings:before {
  content: "\e038";
}
.hicon-settings-2:before {
  content: "\e039";
}
.hicon-ship:before {
  content: "\e03a";
}
.hicon-ship-2:before {
  content: "\e03b";
}
.hicon-shopping:before {
  content: "\e03c";
}
.hicon-shopping-2:before {
  content: "\e03d";
}
.hicon-train-2:before {
  content: "\e03e";
}
.hicon-train:before {
  content: "\e03f";
}
.hicon-statistics-3:before {
  content: "\e040";
}
.hicon-statistics-2:before {
  content: "\e041";
}
.hicon-statistics:before {
  content: "\e042";
}
.hicon-star-2:before {
  content: "\e043";
}
.hicon-star:before {
  content: "\e044";
}
.hicon-sound3:before {
  content: "\e045";
}
.hicon-sound2:before {
  content: "\e046";
}
.hicon-sound:before {
  content: "\e047";
}
.hicon-skype:before {
  content: "\e048";
}
.hicon-site-map:before {
  content: "\e049";
}
.hicon-shopping-3:before {
  content: "\e04a";
}
.hicon-twitter:before {
  content: "\e04b";
}
.hicon-user:before {
  content: "\e04c";
}
.hicon-user-2:before {
  content: "\e04d";
}
.hicon-vimeo:before {
  content: "\e04e";
}
.hicon-wifi:before {
  content: "\e04f";
}
.hicon-wifi-2:before {
  content: "\e050";
}
.hicon-woman:before {
  content: "\e051";
}
.hicon-woman-symbol:before {
  content: "\e052";
}
.hicon-woman-2:before {
  content: "\e053";
}
.hicon-worldwide:before {
  content: "\e054";
}
.hicon-x:before {
  content: "\e055";
}
.hicon-x-2:before {
  content: "\e056";
}
.hicon-xlsx:before {
  content: "\e057";
}
.hicon-youtube:before {
  content: "\e058";
}
