@mixin optional-at-root($sel) {
  @at-root #{if(not &, $sel, selector-append(&, $sel))} {
    @content;
  }
}
@mixin placeholder {
  @include optional-at-root('::-webkit-input-placeholder') {
    @content;
  }
  @include optional-at-root(':-moz-placeholder') {
    @content;
  }
  @include optional-at-root('::-moz-placeholder') {
    @content;
  }
  @include optional-at-root(':-ms-input-placeholder') {
    @content;
  }
}
@mixin transition($transition...) {
  -moz-transition:    $transition;
  -o-transition:      $transition;
  -webkit-transition: $transition;
  transition:         $transition;
}
@mixin transition-property($property...) {
  -moz-transition-property:    $property;
  -o-transition-property:      $property;
  -webkit-transition-property: $property;
  transition-property:         $property;
}
@mixin transition-duration($duration...) {
  -moz-transition-property:    $duration;
  -o-transition-property:      $duration;
  -webkit-transition-property: $duration;
  transition-property:         $duration;
}
@mixin transition-timing-function($timing...) {
  -moz-transition-timing-function:    $timing;
  -o-transition-timing-function:      $timing;
  -webkit-transition-timing-function: $timing;
  transition-timing-function:         $timing;
}
@mixin transition-delay($delay...) {
  -moz-transition-delay:    $delay;
  -o-transition-delay:      $delay;
  -webkit-transition-delay: $delay;
  transition-delay:         $delay;
}




// Fonts settings

$font_placeholder: 'montserratlight';
$font_input: 'montserratlight';
$font_label: 'montserratlight';
$font_size: 14px;

$color_input: blue;
$color_placeholder: red;
$color_label: #acaeb1;

// Input settings

$input_padding: 10px 15px 10px 15px;
$input_text-indent: 00px;
$input_border: 1px solid #c4d0df;
$input_radius: 0px;

// Field setting

$field_padding: 5px 5px 5px 5px;
$field_margin: 0px 0px 0px 0px;

// Textarea

$textarea_resize: none;
$textarea_height: 150px;

// Button
$button_font: 'montserratsemi_bold';
$button_font_size: 14px;
$button_padding: 10px 35px 10px 35px;
$button_margin: 0px 0px 0px 0px;
$button_text_color: #091954;
$button_background_color: #fff;
$button_radius: 0px;
$button_border: 1px solid #091954;
$transitions-setting: all ease 0.3s;

// Button hover
$button_text_color_hover: #fff;
$button_background_color_hover: #091954;
$button_border_color: #fff;





// Other
$appointment-width: 60%;
$appointment-time-width: 40%;
$appointment-display: inline-block;
$date-color: #4E4E4E;
//

.linq-form {
  select {
    option{
      &:first-child{
        color: $color_placeholder;
        font-size: 16px;
        font-weight: bold;
        font-family: $font_placeholder;
      }
    }
    &.noValue{
      color: $color_placeholder;
      font-size: 16px;
      font-weight: bold;
      font-family: $font_placeholder;
      padding-left: 5px;
    }
  }
  .appointment-time{
    width: 40% !important;
    float: left;
  }

  .left-side {
    width: 50%;
    float: left;
  }
  .right-side {
    width: 50%;
    float: left;
  }
  .center-side {
    width: 100%;
    float: left;
  }
  .linq-form-field {
    width: 100%;
    display: inline-block;
    padding: $field-padding;
  }
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  select,
  input[type="file"],
  textarea {
    @include placeholder{
      color: $color_placeholder;
      font-family: $font_placeholder;
    }
    font-size: $font_size;
    width: 100%;
    color: $color_input;
    border: $input_border;
    border-radius: $input-radius;
    padding: $input_padding;
    text-indent: $input_text_indent;
  }
  button {
    font-family: $button_font;
    font-size: $button_font_size;
    padding: $button_padding;
    margin: $button_margin;
    color: $button_text_color;
    background-color: $button_background_color;
    border-radius: $button_radius;
    border: $button_border;
    @include transition($transitions-setting);
  }
  button:hover {
    color: $button_text_color_hover;
    background-color: $button_background_color_hover;
    border-color: $button_border_color;
  }
  button:focus {
    outline: none;
  }
  textarea {
    resize: $textarea_resize;
    height: $textarea_height;
  }

  input[data-linq-field="datetime"]{
    width: 60%;
    display: inline;
    border-right: none;
    float: left;
  }

  input.appointment-time{
    width: 40%;
    display: inline;
  }

}


.linq-form .waiting-box .inner .reset-btn,
.linq-form .response-box .inner .reset-btn {
  text-decoration: none;
  cursor: pointer;
  font-family: $button_font;
  font-size: $button_font_size;
  padding: $button_padding;
  margin: $button_margin;
  color: $button_text_color;
  background-color: $button_background_color;
  border-radius: $button_radius;
  border: $button_border;
  @include transition($transitions-setting);
}
.linq-form .waiting-box .inner .reset-btn:hover,
.linq-form .response-box .inner .reset-btn:hover {
  color: $button_text_color_hover;
  background-color: $button_background_color_hover;
  border-color: $button_border_color;
}



















.linq-form {
  label{
    color: $color_placeholder;
    font-family: $font_placeholder;
    cursor: text;
  }
  .linq-form-field-float{
    label{
      color: $color_label;
      font-family: $font_label;
    }
    // .appointment-time{
    //   top: -5px;
    // }
  }
  .bootstrap-datetimepicker-widget table td.active, .bootstrap-datetimepicker-widget table td.active:hover{
    background-color: $date-color !important;
  }

}


.linq-form .availability_list .availables .available-time {
  display: inline-block;
  text-align: center;
  cursor: pointer;
  width: 22%;
  padding: 5px 5px;
  border-radius: 5px;
  background-color: none;
  margin: 5px 5px;
}

.linq-form .availability_list .availables .available-time:hover,
.linq-form .availability_list .availables .available-time:active,
.linq-form .availability_list .availables .available-time:focus {
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  transition: all 300ms;
  color: white;
  background-color: $date-color;
}


.linq-form .availability_list .unavailable-time {
  padding: 5px 16px
}

.linq-form .appointment input[type="text"]:nth-child(2){
  width: $appointment-width;
  display: $appointment-display;
  border-right: none;
  font-family: $font_placeholder;
}

.linq-form .appointment .appointment-time{
  width: $appointment-time-width;
  display: $appointment-display;
  border-right: none;
}

.linq-form form {
  display: block;
  clear: both;
}




.linq-form #send_form,
.linq-form #input_to_check {
  display: inline-block;
  vertical-align: top
}

.linq-form #send_form .linq-form-field,
.linq-form #input_to_check .linq-form-field {
  padding: 0
}

.linq-form #input_to_check {
  margin-right: 36px
}

.linq-form .waiting-box,
.linq-form .response-box {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  background-color: rgba(255, 255, 255, 1);
  opacity: 0;
  z-index: -1;
  -webkit-transition: z-index step-end 300ms, opacity 300ms linear 0s;
  -moz-transition: z-index step-end 300ms, opacity 300ms linear 0s;
  transition: z-index step-end 300ms, opacity 300ms linear 0s
}

.linq-form .waiting-box.active,
.linq-form .response-box.active {
  opacity: 1;
  -webkit-transition: z-index step-start 0s, opacity 300ms linear 0s;
  -moz-transition: z-index step-start 0s, opacity 300ms linear 0s;
  transition: z-index step-start 0s, opacity 300ms linear 0s
}

.linq-form .waiting-box img,
.linq-form .response-box img {
  display: block;
  margin: 0 auto
}

.linq-form .waiting-box .inner,
.linq-form .response-box .inner {
  position: absolute;
  top: 35%;
  right: 0;
  left: 0;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}

.linq-form .inner .leads-text1{
  font-family: 'gilroy-extrabold', sans-serif;
  font-size: 22px;
  margin-top: 23px;
  margin-bottom: 3px;
}

.linq-form .inner .leads-text2{
  font-size: 16px;
  padding: 0 120px;
  line-height: 24px;
}

.linq-form .waiting-box .inner .close-success-btn,
.linq-form .response-box .inner .close-success-btn {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  height: 20px;
  width: 20px;
}

.linq-form .waiting-box .inner .bold-text,
.linq-form .response-box .inner .bold-text {
  font-family: 'gilroy-extrabold', sans-serif;
  font-size: 22px;
  margin-top: 23px;
  margin-bottom: 3px;
}

.linq-form .waiting-box .inner .response-message,
.linq-form .response-box .inner .response-message {
  font-size: 16px;
}





.linq-form .waiting-box.active {
  z-index: 2
}

.linq-form .waiting-box .sk-folding-cube {
  margin: 20px auto;
  width: 40px;
  height: 40px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg)
}

.linq-form .waiting-box .sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1)
}

.linq-form .waiting-box .sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #3af;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
  animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%
}

.linq-form .waiting-box .sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
  transform: scale(1.1) rotateZ(90deg)
}

.linq-form .waiting-box .sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
  transform: scale(1.1) rotateZ(180deg)
}

.linq-form .waiting-box .sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
  transform: scale(1.1) rotateZ(270deg)
}

.linq-form .waiting-box .sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s
}

.linq-form .waiting-box .sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s
}

.linq-form .waiting-box .sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s
}

@-webkit-keyframes sk-foldCubeAngle {
  0%,
  10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0
  }
  25%,
  75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1
  }
  90%,
  100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0
  }
}

@keyframes sk-foldCubeAngle {
  0%,
  10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0
  }
  25%,
  75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1
  }
  90%,
  100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0
  }
}

.linq-form .response-box.active {
  z-index: 3
}

.linq-form .response-box .inner {
  opacity: 0;
  z-index: -1
}

.linq-form .response-box .inner.active {
  opacity: 1;
  z-index: 1
}


@keyframes blink {
  0% {
    opacity: .2
  }
  20% {
    opacity: 1
  }
  100% {
    opacity: .2
  }
}



#custom-contact-form .appointment-blocks{
 vertical-align: top;
 display: inline-block;
 width: 50%;
}



.linq-form-field  {
  position: relative;
}
.linq-form-field  input {
  font-size: 16px;
  border: none;
  outline: none;
  position: relative;
  top: 0;
  left: 0;
  display: block;
  z-index: 0;
  text-indent: 9px;
}

.linq-form-field :last-child input {
  border-bottom: none;
}
.linq-form-field label {
  display: block;
  position: absolute;
  padding-top: 16px;
  padding-bottom: 0px;
  padding-right: 15px;
  padding-left: 15px;
  top: -3px;
  left: 0px;
  font-size: 16px;
  z-index: 1;
  -moz-transform-origin: 0 0em;
  -ms-transform-origin: 0 0em;
  -webkit-transform-origin: 0 0em;
  transform-origin: 0 0em;
  -moz-transition: -moz-transform 160ms, color 200ms;
  -o-transition: -o-transform 160ms, color 200ms;
  -webkit-transition: -webkit-transform 160ms, color 200ms;
  transition: transform 160ms, color 200ms;
  -moz-transform: scale(1, 1) rotateY(0);
  -ms-transform: scale(1, 1) rotateY(0);
  -webkit-transform: scale(1, 1) rotateY(0);
  transform: scale(1, 1) rotateY(0);
}
.linq-form-field-float label {
  -moz-transform: scale(0.70, 0.70) rotateY(0);
  -ms-transform: scale(0.70, 0.70) rotateY(0);
  -webkit-transform: scale(0.70, 0.70) rotateY(0);
  transform: scale(0.70, 0.70) rotateY(0);
  left: 3px;
  top: -2px;
}
.linq-form-field-float-input {
  padding-top: 14px !important;
  padding-bottom: 6px !important;
  padding-right: 0px !important;
  padding-left: 15px !important;
}
.linq-form-field span.star {
 color: #f02100;
}



.glow{
  -webkit-box-shadow: 0 0 10px red;
    -moz-box-shadow: 0 0 10px red;
    box-shadow: 0 0 10px red;
    border: 1px solid white !important;
    @include transition(box-shadow 0.5s ease-in);
}

input, textarea, select{
  @include transition(box-shadow 0.5s ease-out);
}

.error-symbol{
    position: absolute;
    right: -8px;
    top: -13px;
    color: green;
    opacity: 0;
    font-size: 30px !important;
    background: white;
    @include transition(opacity 0.2s ease-out);

    &.active{
      opacity: 1;
       @include transition(opacity 0.2s ease-in);
    }
}

.error-box{
      position: absolute;
    top: -16px;
    right: 25px;
    max-width: 200px;
    padding: 3px 8px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    background-color: #000;
    border-radius: 4px;
    opacity: 0;
    @include transition(opacity 0.2s ease-out);
    &:after{
      content: '';
      position: absolute;
      left: 85%;
      top: 100%;
      width: 0;
      height: 0;
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      border-top: 5px solid #000000;
      clear: both;
    }

    &.active{
       opacity: 1;
       @include transition(opacity 0.2s ease-in);

    }
}



/*# sourceMappingURL=leadsinquiries.css.map */
