@include mq_desktop {
    #mobileMenu {
        display:none;
    }
    .desktopmenu {
        display:block;
    }
}
@include mq_tablet {
    #mobileMenu {
        display:block;
    }
    .desktopmenu {
        display:none;
    }
}

nav.desktopmenu {
    >div {
        display:inline-block;
        a {
            padding:0px 20px;
        }
    }
}


.nav {
  position: fixed;
  width: 100%;
  height: 100%;
  padding-left: 0px;
  overflow: scroll;
  ul {
    position: fixed;
    width: 100%;
    height: 100%;
    padding-left: 0px;
    overflow: scroll;
  }
}

#toggle:checked ~ nav .screen .menu ul {
  background-position: 100% calc(100% - 60px);
  background-image: url('/images/paint-brush-menu.png');
  background-repeat: no-repeat;
  padding-bottom: 50vh;
}

#mobileMenu nav .menu {
  padding-top: 60px;
}

nav ul li {
  a:hover {
    background: rgba(255, 255, 255, 0.1);
  }
  &:before {
    display: none;
  }
}

#toggle {
  display: none;
  + #toggle-btn {
    position: fixed;
    top: 10px;
    right: 0px;
    border-radius: 3px;
    cursor: pointer;
  }
}

.nav-icon {
  position: fixed;
  top: 10px;
  right: 0px;
  border-radius: 3px;
  cursor: pointer;
}

#toggle + #toggle-btn {
  height: 53px;
  width: 60px;
  z-index: 999999;
}

.hamburger {
  background-color: #ffffff;
  position: fixed;
  top: 10px;
  z-index: 999;
  right: 0;
  padding: 10px 13px;
  padding-bottom: 17px;
  cursor: pointer;
  transition-property: opacity, -webkit-filter, top;
  transition-property: opacity, filter, top;
  transition-property: opacity, filter, -webkit-filter, top;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  border: 0;
  margin: 0;
  overflow: visible;
  &:hover {
    opacity: 0.7;
  }
}

.hamburger-box {
  width: 30px;
  height: 18px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
  width: 30px;
  height: 3px;
  background-color: #fdac1e;
  border-radius: 4px;
  position: absolute;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
  &::before, &::after {
    width: 30px;
    height: 3px;
    background-color: #fdac1e;
    border-radius: 4px;
    position: absolute;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
  }
  &::before, &::after {
    content: "";
    display: block;
  }
  &::before {
    top: -8px;
  }
  &::after {
    bottom: -8px;
  }
}

.hamburger--3dx {
  .hamburger-box {
    -webkit-perspective: 80px;
    perspective: 80px;
  }
  .hamburger-inner {
    transition: background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    &::before, &::after {
      transition: -webkit-transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
      transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
      transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
    }
  }
}

#toggle:checked ~ {
  nav {
    z-index: 99;
  }
  .mobile-logo {
    display: block;
    padding-left: 30px;
  }
  nav .mobile-paint {
    display: block;
  }
  .hamburger--3dx .hamburger-inner {
    background-color: transparent;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    &::before {
      -webkit-transform: translate3d(0, 8px, 0) rotate(45deg);
      transform: translate3d(0, 8px, 0) rotate(45deg);
    }
    &::after {
      -webkit-transform: translate3d(0, -8px, 0) rotate(-45deg);
      transform: translate3d(0, -8px, 0) rotate(-45deg);
    }
  }
}

div {
  &.circle {
    width: 0px;
    height: 0px;
    position: absolute;
    background: #ffffff;
    opacity: 0;
    width: 100%;
    height: 100%;
    transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
  }
  &.menu ul li {
    list-style: none;
    left: 0;
    opacity: 0;
    width: 100%;
    z-index: 99999;
    text-align: left;
    font-size: 0px;
  }
}

#mobileMenu ul li span a {
  color: #3a4264;
  font-family: 'ralewaylight';
  padding: 25px 60vw;
  padding-left: 30px;
}

#toggle:checked ~ nav {
  .screen {
    .circle {
      width: 100%;
      height: 100%;
      transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -webkit-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      opacity: 1;
    }
    .menu li {
      transition: all 0.3s linear;
      -moz-transition: all 0.3s linear;
      -webkit-transition: all 0.3s linear;
      -o-transition: all 0.3s linear;
      padding: 25px 0px;
      font-size: 32px;
      opacity: 1;
      border-bottom: 1px solid #DDD;
      &:nth-child(1) {
        transition-delay: 0.15s;
      }
      &:nth-child(2) {
        transition-delay: 0.3s;
      }
      &:nth-child(3) {
        transition-delay: 0.45s;
      }
      &:nth-child(4) {
        transition-delay: 0.6s;
      }
      &:nth-child(5) {
        transition-delay: 0.75s;
      }
      &:nth-child(6) {
        transition-delay: 0.9s;
      }
      &:nth-child(7) {
        transition-delay: 1.05s;
      }
      &:nth-child(8) {
        transition-delay: 1.2s;
      }
      &:nth-child(9) {
        transition-delay: 1.35s;
      }
    }
  }
  ul li {
    -webkit-transform: rotateY(0deg) scale(1);
    transform: rotateY(0deg) scale(1);
  }
}
