.autocomplete-suggestions-desktop{
	background-color: #fff;
	padding-bottom: 10px;

	.autocomplete-suggestion{
		padding-top: 5px;
		padding-bottom: 5px;
		background-color: #fff;
		cursor: pointer;
		padding-left: 10px;
		@include transition(background-color 0.5s ease-out);
		&:hover{
			background-color: #eee;
			@include transition(background-color 0.5s ease-in);
		}
	}

	.autocomplete-no-suggestion{
		padding-top: 5px;
		padding-bottom: 5px;
		background-color: #fff;
		cursor: pointer;
		padding-left: 10px;
	}
}

.autocomplete-suggestions-mobile{
	background-color: #fff;
	padding-bottom: 10px;

	.autocomplete-suggestion{
		padding-top: 5px;
		padding-bottom: 5px;
		background-color: #fff;
		cursor: pointer;
		padding-left: 10px;
		@include transition(background-color 0.5s ease-out);
		&:hover{
			background-color: #eee;
			@include transition(background-color 0.5s ease-in);
		}
	}

	.autocomplete-no-suggestion{
		padding-top: 5px;
		padding-bottom: 5px;
		background-color: #fff;
		cursor: pointer;
		padding-left: 10px;
	}
}


#hey-desktop-search{
	@include mq_big-tablet(){
		margin-left: 0;
		border-left: none;
	}

	display: inline-block;
	overflow: hidden;
    height: 34px;
    vertical-align: middle;
    padding-top: 10px;
    padding-left: 18px;
    margin-left: 15px;
    border-left: 1px solid #cacaca;
    padding-right: 15px;

    .searchReady{
	    #mod-finder-desktop-searchword{
		    max-width: 332px;
		    opacity: 1;
		    @include transition(opacity 0.5s, max-width 0.5s);
    	}
    }

    .search-field-wrap{
    	position: absolute;
    	top: 0;
	    right: 0;
	    z-index: 99999;
	    height: 34px;
	    .search-field-wrap-inner{
	    	height: 100%;
	    }
    }

	#mod-finder-desktop-searchword{
		height: 100%;
	    max-width: 0px;
        padding-left: 10px;
	    opacity: 0;
	    outline: none !important;
	    @include transition(opacity 0.2s, max-width 0.5s);
	}

	#mod-finder-desktop-searchbutton{
		z-index: 99999;
	    position: relative;
	    outline: none;
	}
}

#hey-mobile-search{
	margin-bottom: 100px;

    &.searchReady{
		transition: none !important;
		position: fixed;
		top: 60px;
		margin-bottom: 0;
		height: 100%;
		padding-top: 40px;
		background-color: #fff;

	    .mod-finder-searchword{
	        background-color: #fff;
	        border: none;
	        border-bottom: 1px solid #4cb958;
	        padding-left: 10px;
	        color: #4cb958;
	        outline: none;
	        width: calc(100% - 30px);
	        margin: 0 auto;
	        display: block;
	        max-height: 9999px;
	        max-width: 9999px;
	        visibility: visible;
	        position: inherit;
	        &::-webkit-input-placeholder {
	           color: #4cb958;
	        }

	        &:-moz-placeholder {
	           color: #4cb958;
	        }

	        &::-moz-placeholder {
	           color: #4cb958;
	        }

	        &:-ms-input-placeholder {
	           color: #4cb958;
	        }
      	}

    	#mod-finder-mobile-searchbutton{
        	display: none;
      	}
    }

	.mod-finder-searchword{
		visibility: hidden;
		max-height: 0;
		max-width: 0;
		position: absolute;
	}

	#mod-finder-mobile-searchbutton{
		color: #fff;
		background-image: url(/images/angle180/mobile-search.png);
		background-repeat: no-repeat;
		background-position: calc(100% - 15px) 50%;
		display: block;
		height: 100%;
		background-color: #4cb958;
		padding-left: 15px;
		padding-top: 15px;
		padding-bottom: 15px;
	}
}
