// $tamsiai-ruda: #271f1e;
// $ruda: #2d2523;


$info-text: #d5d3d3; 

$brown1: #271f1e; // Info bar bg
$brown2: #2d2523; // Header bg
$brown3: rgba(79,60,59,1); // Article info bg
$brown4: #483d3b;


$red1: #f02100; 
$red2: #B63822;
$red3: rgba(240,33,0,0.8); // Header slider caption color

$content-color: #555454; //About block in home page

$green-button: #03a45c; 

$birt_color: #C7C7C7;



$heading-font: 'Playfair Display', serif;
$all-text-font: 'PT Sans', sans-serif;


a:focus {
    outline: none;
}
// href="tel:" for mobile device
a[href^="tel"]:link,
a[href^="tel"]:visited,
a[href^="tel"]:hover {
	pointer-events: none !important;
	cursor: default;
	display: inline-block; /* block or inline-block for IE11 and Edge */
}
@media only screen and (max-device-width: 1024px) {
	a[href^="tel"]:link, a[href^="tel"]:visited, a[href^="tel"]:hover {
		pointer-events: auto !important;
		cursor: pointer;
		display: inline-block; /* block or inline-block for IE11 and Edge */
	}
}


@mixin hover-state {
    &:hover, &:active, &:focus {
        @content;
    }
}


@mixin shadow($left:3px, $top:13px, $blur:40px, $spread:-8px, $color:rgba(0,0,0,0.4), $inset:"") {
      -webkit-box-shadow:$left $top $blur $spread $color #{$inset};
      -moz-box-shadow:$left $top $blur $spread $color #{$inset};
      box-shadow:$left $top $blur $spread $color #{$inset};
}

@mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}

@mixin transform($transforms) {
    -webkit-transform: $transforms;
    -moz-transform: $transforms;
    -ms-transform: $transforms;
    -o-transform: $transforms;
    transform: $transforms;
}

@mixin scale($var){
  -webkit-transform: scale($var);
  -moz-transform: scale($var);
  -ms-transform: scale($var);
  -o-transform: scale($var);
  transform: scale($var);
}

$rez1: 1200px;
$rez2: 1023px;
$rez3: 767px;
$rez4: 479px;
$rez5: 320px;
$rez6: 360px;
$rez7: 414px;
$rez8: 600px;
$rez9: 640px;
$rez10: 800px;
$rez11: 375px;
$rez12: 700px;


@mixin mq_desktop {
  @media (min-width: 1024px) {
    @content;
  }
}

// Visu mobile landscape
@mixin mq_mob_landscape{
  @media (orientation: landscape) and (max-width: #{$rez3}) {
    @content;
  }
}

// 768px ir maziau
@mixin mq_tablet {
  @media (max-width: #{$rez2}) {
    @content;
  }
}

// Tablet nuo 769px iki 1023px
@mixin mq_only_tablet {
  @media (min-width: #{$rez3 + 2px}) and (max-width: #{$rez2}) {
    @content;
  }
}

// Tablet nuo 1024px iki 1200px
@mixin mq_big_tablet {
  @media (min-width: #{$rez2 + 1px}) and (max-width: #{$rez1}) {
    @content;
  }
}


// 767px ir maziau
@mixin mq_767 {
  @media (max-width: #{$rez3}) {
    @content;
  }
}

// 479px ir maziau
@mixin mq_479 {
  @media (max-width: #{$rez4}) {
    @content;
  }
}

// 414px ir maziau
@mixin mq-414{
  @media (max-width: #{$rez7}) {
    @content;
  }
}

// 375px ir maziau
@mixin mq-375{
  @media (max-width: #{$rez11}) {
    @content;
  }
}

// 360px ir maziau
@mixin mq-360{
  @media (max-width: #{$rez6}) {
    @content;
  }
}

// 320px ir maziau
@mixin mq_320 {
  @media (max-width: #{$rez5}) {
    @content;
  }
}

// 414px landscape
@mixin mq-414-land{
   @media (orientation: landscape) and (max-width: #{$rez10}) {
    @content;
  }
}

// 375px landscape
@mixin mq-375-land{
   @media (orientation: landscape) and (max-width: #{$rez12}) {
    @content;
  }
}

// 360px landscape
@mixin mq-360-land{
   @media (orientation: landscape) and (max-width: #{$rez9}) {
    @content;
  }
}

// 320px landscape
@mixin mq-320-land{
   @media (orientation: landscape) and (max-width: #{$rez8}) {
    @content;
  }
}
