h1 {

}
h2 {
    font-family: $heading-font;
    font-weight: 700;
    font-size: 40px;
    line-height: 46px;
    color: $brown3;
}
h3 {

}
h4 {

}
body {
    background-color: #fff;
    font-size: 14px;
    font-family: $all-text-font;
    // display: none;
    #header {
        #header1 {
            #info-bar {
                background-color: $brown1;
                color: $info-text;
                line-height: 40px;
                #contact-info-list {
                    ul {
                        list-style: none;
                        margin: 0;
                        padding: 0;
                        li {
                            display: inline-block;
                            position: relative;
                            margin-right: 10px;
                            a {
                                color: inherit;
                                text-decoration: none;
                                &:before {
                                    margin: 0;
                                    padding: 0;
                                    font-size: 18px;
                                    top: 1px;
                                    position: relative;
                                    margin-right: 5px;
                                }
                            }
                        }
                    }
                }
                #language-switcher {
                    text-align: right;
                }
            }
            #logo-block {
                background-color: $brown2;
                padding-top: 30px;
                padding-bottom: 30px;
                .place {
                    span {
                        &.placing-text {
                            text-transform: uppercase;
                            color: #fff;
                            font-size: 13px;
                            letter-spacing: 0.5px;
                        }
                    }
                }
                .logo {

                }
                .badges {

                }
            }
            #navigation {
                background-color: $brown2;
                position: static;
                @include transition(background-color .3s ease);
                &.affix {
                    position: fixed;
                    background-color: rgba(45, 37, 35, 0.7);
                    top: 0;
                    z-index: 999;
                    width: 100%;
                    nav {
                        &.menu {
                            div {
                                line-height: 50px;
                            }
                        }
                    }
                }
                nav {
                    &.menu {
                        border-top: 1px solid $red2;
                        text-align: center;
                        div {
                            display: inline-block;
                            margin: 0 20px;
                            line-height: 40px;
                            @include transition(line-height .3s ease);
                            a {
                                color: #fff;
                                text-decoration: none;
                            }
                            span {
                                color: #fff;
                            }
                            &.divider {
                                &.deeper {
                                    &.parent {
                                        cursor: pointer;
                                        .nav-child {
                                            display: none;
                                            visibility: hidden;
                                        }
                                        &:hover {
                                            .nav-child {
                                                display: block;
                                                visibility: visible;
                                                position: absolute;
                                                z-index: 999;
                                                background-color: $red1;
                                                padding: 0;
                                                margin: 0;
                                                text-align: left;
                                                &>div {
                                                    display: block;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        #header2 {
            .moduletable {
                .custom {
                    #header-carousel {
                        .carousel-inner {
                            .item {
                                img {

                                }
                                .carousel-caption {
                                    width: 30%;
                                    background-color: $red3;
                                    color: #fff;
                                    padding: 15px;

                                    p {
                                        &.caption-text {
                                            text-align: left;   
                                            font-size: 16px;

                                        }
                                    }
                                    span {
                                        &.caption-name {
                                            font-style: italic;
                                            float: right;
                                        }
                                    }
                                    h2 {
                                        font-size: 30px;
                                        line-height: 36px;
                                        color: #fff;
                                        margin: 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    #section1 {
        #section1-1 {
            .moduletable {
                .custom {
                    .container {
                        .row {
                            .about-us {
                                h2 {

                                }
                                p {
                                    &.content-text {
                                        font-size: 16px;
                                        color: $content-color;
                                        line-height: 23px;
                                        margin-bottom: 30px;
                                    }
                                }
                                div {
                                    &.content-button {
                                        position: relative;
                                        display: block;
                                        margin-bottom: 30px;
                                        text-align: right;
                                        overflow: hidden;
                                        a {
                                            position: relative;
                                            display: inline-block;
                                            color: $green-button;
                                            letter-spacing: 0.5px;
                                            font-size: 14px;
                                            font-weight: 700;
                                            background-color: #fff;
                                            padding: 9px 35px 9px 35px;
                                            border: 2px solid $green-button;
                                            border-radius: 50px;
                                            text-transform: uppercase;
                                            text-decoration: none;
                                            @include transition(color ease .3s,background-color ease .3s);
                                            &:hover {
                                                background-color: $green-button;
                                                color: #fff;
                                            }
                                            &:before {
                                                content: "";
                                                position: absolute;
                                                display: inline-block;
                                                top: 50%;
                                                right: 105%;
                                                width: 999%;
                                                background-color: #d2d2d2;
                                                height: 1px;
                                            }
                                        }
                                    }
                                }
                            }
                            .latest-news {
                                .moduletable {
                                    float: right;
                                    padding: 15px;
                                    margin-top: -45px;
                                    background: #fff;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    &.home {
        .mainContent {
            background-color: #F5F5F5;
            #avaivable-kittens {
                #content {
                    .custom {
                        h2 {
                            font-weight: 700;
                            font-style: italic;
                            font-size: 50px;
                            line-height: 60px;
                            margin-top: 30px;
                            color: $brown3;
                            text-align: center
                        }
                        p {
                            text-align: center;
                            font-size: 16px;
                            color: $content-color;
                            padding-bottom: 30px;
                            display: block;
                            width: 60%;
                            margin: 0 auto;
                        }
                    }
                }
                #kittens {
                    .article-item {
                        .item-block {
                            position: relative;
                            overflow: hidden;
                            .article-image {
                                a {
                                    img {

                                    }
                                }
                            }
                            .item-info {
                                position: absolute;
                                bottom: 0;
                                left: 0;
                                width: 100%;
                                background-color: $brown3;
                                padding: 15px 0;
                                .item-title {
                                    a {
                                        color: #fff;
                                        border-left: 5px solid #fff;
                                        padding: 0 15px 0 10px;;
                                        font-size: 16px;
                                        font-weight: bold;
                                        outline: none;
                                        text-decoration: none;
                                    }
                                }
                                .item-date {
                                    color: $birt_color;
                                    padding: 0 15px;
                                    font-style: italic;
                                    font-size: 12px;
                                    font-weight: 400;
                                    span {
                                        font-weight: 700;
                                    }
                                }
                                .more-info {
                                    max-height: 0px;
                                    overflow: hidden;
                                    opacity: 0;
                                    @include transition(max-height .3s .2s ease, opacity .3s ease);
                                    .item-status {
                                        color: #fff;
                                        padding: 0 15px;
                                        font-size: 16px;
                                        font-weight: 400;
                                        span {
                                            font-weight: 700;
                                        }
                                    }
                                    .item-gender {
                                        color: #fff;
                                        padding: 0 15px;
                                        font-size: 16px;
                                        font-weight: 400;
                                        span {
                                            font-weight: 700;
                                        }
                                    }
                                    .item-color {
                                        border-top: 1px solid $birt_color;
                                        color: #fff;
                                        margin: 0 15px 0 15px;
                                        padding: 0;
                                        font-size: 16px;
                                        font-weight: 400;
                                        @include transition(padding .3s ease, margin .3s ease);
                                        a {
                                            color: #fff;
                                            text-decoration: underline;
                                            outline: none;
                                            font-weight: 700;
                                            cursor: pointer;
                                        }
                                    }
                                    .item-readmore {
                                        padding: 0 15px;
                                        a {
                                            font-size: 12px;
                                            margin: 10px 0 0 0;
                                            display: inline-block;
                                            border: 2px solid #fff;
                                            font-weight: 700;
                                            border-radius: 50px;
                                            padding: 8px 20px 8px 20px;
                                            color: #fff;
                                            background-color: transparent;
                                            text-decoration: none;
                                            text-transform: uppercase;
                                            @include transition(background-color .3s ease, color .3s ease);
                                            &:hover {
                                                background-color: #fff;
                                                color: $brown3;
                                            }
                                        }
                                    }
                                }
                            }
                            &:hover {
                                .item-info {
                                    .more-info {
                                        max-height: 200px;
                                        opacity: 1;
                                        @include transition(max-height .3s ease, opacity .3s .2s ease);
                                        .item-color {
                                            margin: 10px 15px 0 15px;
                                            padding: 10px 0 0 0;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .more-kittens-bottom {
                        margin: 30px 0 45px 0;
                        text-align: center; 
                        overflow: hidden;
                        a {
                            position: relative;
                            display: inline-block;
                            color: $green-button;
                            letter-spacing: 0.5px;
                            font-size: 14px;
                            font-weight: 700;
                            background-color: #fff;
                            padding: 9px 35px 9px 35px;
                            border: 2px solid $green-button;
                            border-radius: 50px;
                            text-transform: uppercase;
                            text-decoration: none;
                            @include transition(color ease .3s,background-color ease .3s);
                            &:hover {
                                background-color: $green-button;
                                color: #fff;
                            }
                            &:before {
                                content: "";
                                position: absolute;
                                display: inline-block;
                                top: 50%;
                                right: 105%;
                                width: 999%;
                                background-color: #d2d2d2;
                                height: 1px;
                            }
                            &:after {
                                content: "";
                                position: absolute;
                                display: inline-block;
                                top: 50%;
                                left: 105%;
                                width: 999%;
                                background-color: #d2d2d2;
                                height: 1px;
                            }
                        }
                    }
                    .no-left-kittens-bottom {
                        margin: 30px 0 45px 0;
                        text-align: center; 
                        overflow: hidden;
                        p {
                            font-size: 36px;
                            margin-bottom: 30px;
                            display: block;
                            color: $brown4;
                        }
                        a {
                            position: relative;
                            display: inline-block;
                            color: $green-button;
                            letter-spacing: 0.5px;
                            font-size: 14px;
                            font-weight: 700;
                            background-color: #fff;
                            padding: 9px 35px 9px 35px;
                            border: 2px solid $green-button;
                            border-radius: 50px;
                            text-transform: uppercase;
                            text-decoration: none;
                            @include transition(color ease .3s,background-color ease .3s);
                            &:hover {
                                background-color: $green-button;
                                color: #fff;
                            }
                            &:nth-child(2) {
                                margin-right: 7.5px;
                                &:before {
                                    content: "";
                                    position: absolute;
                                    display: inline-block;
                                    top: 50%;
                                    right: 105%;
                                    width: 999%;
                                    background-color: #d2d2d2;
                                    height: 1px;
                                }
                            }
                            &:last-child {
                                margin-left: 7.5px;
                                &:after {
                                    content: "";
                                    position: absolute;
                                    display: inline-block;
                                    top: 50%;
                                    left: 105%;
                                    width: 999%;
                                    background-color: #d2d2d2;
                                    height: 1px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    #section3 {
        #section3-1 {
            margin: 45px 0;
            .moduletable {
                .custom {
                    .container {
                        .row {
                            .left {
                                .row {
                                    .image-big {
                                        img {
                                            width: 100%;
                                        }
                                    }
                                    .image-small {
                                        position: absolute;
                                        right: 0;
                                        top: 100px;
                                        padding: 15px;
                                        background-color: #fff;
                                        img {
                                            width: 100%;
                                        }
                                    }
                                }
                            }
                            .right {
                                position: relative;
                                .section-title {
                                    font-family: 'Playfair Display',serif !important;
                                    font-weight: 700;
                                    font-style: italic;
                                    font-size: 50px;
                                    line-height: 1;
                                    text-align: left;
                                    padding: 0px;
                                    margin: 0px 0px 15px 0px;
                                    color: $brown4;
                                    display: block;
                                }
                                .section-text {
                                    display: block;
                                    font-size: 16px;
                                    color: $content-color;
                                }
                                .bottom-button {
                                    position: relative;
                                    overflow: hidden;
                                    margin-top: 30px;
                                    a {
                                        &.green-button {
                                            position: relative;
                                            display: inline-block;
                                            color: $green-button;
                                            letter-spacing: 0.5px;
                                            font-size: 14px;
                                            font-weight: 700;
                                            background-color: #fff;
                                            padding: 9px 35px 9px 35px;
                                            border: 2px solid $green-button;
                                            border-radius: 50px;
                                            text-transform: uppercase;
                                            text-decoration: none;
                                            @include transition(color ease .3s,background-color ease .3s);
                                            &:hover {
                                                background-color: $green-button;
                                                color: #fff;
                                            }
                                            &:after {
                                                content: "";
                                                position: absolute;
                                                display: inline-block;
                                                top: 50%;
                                                left: 105%;
                                                width: 999%;
                                                background-color: #d2d2d2;
                                                height: 1px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    #footer {
        #footer1 {
            .top-footer {
                background-color: #2D2523;
                color: #d5d3d3;
                border-top: 2px solid #974134;
            }
            .bottom-footer {
                background-color: #271f1e;
                color: #d5d3d3;
                line-height: 40px;
                .left {

                }
                .right {
                    text-align: right;
                    a {
                        color: #d5d3d3;
                        text-decoration: none;
                        outline: none;
                    }
                }
            }
        }
    }
}
