body {
	&.kitten-archive {
		.mainContent {
			#avaivable-kittens-filter {
				background-color: #f5f5f5;
				z-index: 999;
				padding: 15px 0;
				&.affix-top {

				}
				&.affix {
				    // text-align: center;
				    width: 100%;
				    top: 50px;
				}
				.filter-content {
					.filter-year,
					.filter-letter,
					.filter-father,
					.filter-mother {
						padding: 0;
						.bootstrap-select {
							width: 100%;
						}
					}
				}
			}
		}
	}
}